extends layout

block content
	div.container
		h1 Translator
		form.form-inline
			div.form-group
				label(for="LanguageFrom") Language From
				div.dropdown
					button(data-toggle="dropdown" type="button").btn.btn-default.dropdown-toggle Choose Language
					ul(role="menu" aria-labelledby="dropdownMenu1").dropdown-menu
						for language in languages
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") #{language}
				label(for="LanguageFrom") Language To
				div.dropdown
					button(data-toggle="dropdown" type="button").btn.btn-default.dropdown-toggle Choose Language
					ul(role="menu" aria-labelledby="dropdownMenu1").dropdown-menu
						for language in languages
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") #{language}
				label(for="LanguageFrom") Word To Translate
				div.wordContainer
					input.word(type="text")
					input.button(type="submit")												
